<a href="https://colab.research.google.com/github/AshishRaj04/BBC-News-Classification/blob/main/BBC_News_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Weâ€™ll use a public dataset from the BBC comprised of 2225 articles, each labeled under one of 5 categories: business, entertainment, politics, sport or tech.

# The dataset is broken into 1490 records for training and 735 for testing. The goal will be to build a system that can accurately classify previously unseen news articles into the right category.

In [1]:
train_csv_file_path = "/content/drive/MyDrive/Dataset/BBC News Classification Dataset/BBC News Train.csv"
test_csv_file_path = "/content/drive/MyDrive/Dataset/BBC News Classification Dataset/BBC News Test.csv"

In [2]:
import pandas as pd

In [3]:
df_train = pd.read_csv(train_csv_file_path)
df_test = pd.read_csv(test_csv_file_path)

In [5]:
df_train.head()

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1490 non-null   int64
 1   Text       1490 non-null   object
 2   Category   1490 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.0+ KB

In [8]:
df_train['Category'].value_counts()

Category
sport            346
business         336
politics         274
entertainment    273
tech             261
Name: count, dtype: int64

In [10]:
df_train.columns

Index(['ArticleId', 'Text', 'Category'], dtype='object')